<html>
  <head>
    <title>AnonX - about</title>
    <link rel="stylesheet"  type="text/css" href="/public/assets/homeStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
  </head>

  <body>
    <a name="top"></a>
    <div class="header">
      <div class="header-logo">
        <a href="/"><img src="/public/assets/images/logo.png" /></a>
      </div>
      <div class="header-search">
        <form action="/search" method="get">
          <input type="text" placeholder="Search for a tag" name="searchTag"/>
        </form>
      </div>
      <div class="header-profile">
        <img src="/public/assets/images/user.png" onclick="menu()" />
      </div>
    </div>
    <div class="header-menu">
      <table>
        <tr>
          <td><a href="/profile">Profile</a></td>
        </tr>
        <tr>
          <td><a href="/add/<%= user.id %>">Create post</a></td>
        </tr>
        <tr>
          <td><a href="/about">About</a></td>
        </tr>
        <tr>
          <td><a href="/logout">Log out</a></td>
        </tr>
      </table>
    </div>

    <!-- About below part -->
    <div class="container-about">
      <div class="About-Title">
        <h1>About Anon</h1>
      </div>
      
      <div class="About-desc">
        <p>
          AnonX is a web application where you can create a post and comment on other users’ posts. It allows the users to keep track of everything they’ve 
          posted by going to the user profile. To keep things anonymous, other users are not able to see previous posts that users have published. Users can also 
          search for keywords or tags used to look for posts that they are interested in.
        </p>
      </div>

      <div class="About-desc-below">
        <div class="About-how">
          <h2>How Does AnonX Work?</h2>
          <p> Users can post and comment in random community posts.</p  >
  
          <div class="About-types">
            <div class="About-post">
              <h3>Post</h3>
              <p>The community can share content by posting anonymous or not stories, thoughts, feelings, and opinions.</p>
              </div>
      
              <div class="About-comment">
              <h3>Comment</h3>
              <p>The community can comment on posts anonymously or not. Comments provide discussion and often humor.</p>
              </div>
      
              <div class="About-view">
              <h3>Vote</h3>
              <p>Users, although anonymous, can view and edit their profile any way they like.</p>
              </div>
          </div>
        </div>
        <div class="packages">
          <h2>Packages used</h2>
          <p>
            <ul>
              <li>dotenv</li>
              <li>express</li>
              <li>express-fileupload</li>
              <li>express-session</li>
              <li>express-validator</li>
              <li>body-parser</li>
              <li>mongoose</li>
              <li>passport</li>
              <li>passport-local-mongoose</li>
            </ul>
          </p>
        </div>

      </div>

    </div>

      <script src="../public/js/script.js"></script>
  </body>
</html>
