<html>
  <head>
    <title>AnonX - About</title>
    <link rel="stylesheet"  type="text/css" href="/public/assets/homeStyle.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico"/>
  </head>
  <body>
    <!-- Top Navigation Bar -->
    <div class="topnav">
      <div class="logo">
          <a href="/">AnonX</a>
      </div>
      <div class="search">
          <form action="/search" method="get">
              <input type="text" placeholder="Search for a tag" name="searchTag"/>
            </form>
      </div>
      <div class="topnav-profile-logout">
          <div class="profile"> 
              <a href="/">Home</a>
              <a href="/profile">Profile</a>
              <a href="/about" class="active">About</a>
          </div>
          <div class="logout">
              <a href="/logout">Log out</a>
          </div>
      </div>
  </div>

    </div>
      <h1 style="position: relative; top: 150px">About AnonX</h1>
      <div>
        <p>
          AnonX is a web application where you can create a post and comment on other users’ posts. It allows the users to keep track of everything they’ve 
          posted by going to the user profile. To keep things anonymous, other users are not able to see previous posts that users have published. Users can also 
          search for keywords or tags used to look for posts that they are interested in.
        </p>
      </div>

      <div class="About-how">
        <h2>How Does AnonX Work?</h2>
        <h3> Users can post and comment in random community posts.</h3>

        <div class="About-post">
        <h3>Post</h3>
        <p>The community can share content by posting anonymous or not stories, thoughts, feelings, and opinions.</p>
        </div>

        <div class="About-comment">
        <h3>Comment</h3>
        <p>The community can comment on posts anonymously or not. Comments provide discussion and often humor.</p>
        </div>

        <div class="About-view">
        <h3>Vote</h3>
        <p>Users, although anonymous, can view and edit their profile any way they like.</p>
        </div>
      </div>

      <script src="../public/js/script.js"></script>
  </body>
</html>
