<html>
    <head>
        <title> AnonX - create post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <input type="text" placeholder="Search topics or tags">
                </div>
                <div class="header-profile">
                    <button class="dropbtn" onclick="menu()">Profile</button>
                        <div class="dropdown-content">
                            <a href="/">Home</a>
                            <a href="#">Categories</a>
                            <a href="/profile">Profile</a>
                        </div>
                </div>
                <div class="header-logout">
                    <a href="login.html">Log out</a>
                </div>
            </div>

        
        <!-- Create Post -->
        <div>
            <p> Create a post </p>
            <form action="/save" method="post">
                <input type="hidden" value="<%= user._id %>" id="userId" name="userId">
                <input type="hidden" value="<%= user.username %>" id="username" name="username">
                <input type="text" id="title" name="title" placeholder="Title" maxlength="60" required> <br>
                <a>Title: Max 60 characters</a> <br>
                <input type="text" id="post" placeholder="Text (optional)" name="postText" maxlength="140"> <br>
                <a>Post: Max 140 characters </a> <br>
                <input type="text" id="tags" name="tag" placeholder="#tags" name="tag" maxlength="20" required> <br>
                <a>Tag: Max 20 characters</a> <br>
                
                <!-- Add toggle swtich -->
                <label>Anonymous: <input name="anonToggle" type="checkbox" value="on"></label>
                <br>
                <input type="submit" value="Post">
            </form>
        </div>
    </body>
</html>