<html>
    <head>
        <title> AnonX - create post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search for a tag" name="searchTag"/>
                      </form>
                </div>
                <div class="header-profile">
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                </div>
                <div class="header-logout">
                    <a href="/logout">Log out</a>
                </div>
            </div>

        
        <!-- Create Post -->
        <div class="container-post">
            <div class="edit-header">
                <p> Create a post </p>
            </div>
            <form action="/save" method="post">
                <input type="hidden" value="<%= user._id %>" id="userId" name="userId">
                <div>
                    <input type="hidden" value="<%= user.username %>" id="username" name="username">
                </div>
                <div class="edit-title">
                    <input type="text" id="title" name="title" placeholder="Title" maxlength="1000"> <br>
                    <div class="title-description">
                        <a>Max 1000 characters</a> <br>
                    </div>
                </div>
                <div class="edit-text">
                    <input type="text" id="post" placeholder="Text (optional)" name="postText" maxlength="10000"> <br>
                    <div class="text-description">
                        <a> Max 10000 characters </a> <br>
                    </div>
                </div>
                <div class="edit-tag">
                    <input type="text" id="tags" name="tag" placeholder="#tags" name="tag" maxlength="20"> <br>
                    <div class="tag-description">
                        <a> Max 20 characters</a> <br>
                    </div>
                </div>
                
                <!-- Add toggle swtich -->
                <label>Anonymous: <input name="anonToggle" type="checkbox" value="on"></label>
                <br>
                <input type="submit" value="Post">
            </form>
        </div>
    </body>
</html>
