<html>
    <head>
        <title> AnonX - create post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search for a tag" name="searchTag"/>
                      </form>
                </div>
                <div class="header-profile">
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                </div>
                <div class="header-logout">
                    <a href="/logout">Log out</a>
                </div>
            </div>

        
        <!-- Create Post -->
        <div>
            <br><br><br>
            <form action="/save" method="post">
                <input type="hidden" value="<%= user._id %>" id="userId" name="userId">
                <input type="hidden" value="<%= user.username %>" id="username" name="username">
                <table border="1">
                    <tr>
                        <td colspan="2"><h2> Create a post </h2></td>
                    </tr>
                    <tr>
                        <td><label>Title:</label></td>
                        <td><input type="text" id="title" name="title" placeholder="Maximum of 40 characters" maxlength="40" size="100%" required></td>
                    </tr>
                    <tr>
                        <td><label>Post:</label></td>
                        <td><input type="text" id="post" placeholder="Maximum of 120 characters" name="postText" maxlength="120" size="100%"></td>
                    </tr>
                    <tr>
                        <td><label>Tag:</label></td>
                        <td><input type="text" id="tags" name="tag" placeholder="Maximum of 20 characters" maxlength="20" size="100%" required></td>
                    </tr>
                    <tr>
                        <td><label>Anonymous:</label></td>
                        <td><input name="anonToggle" type="checkbox" value="on" ></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Post"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>