<html>
    <head>
        <title> AnonX - create post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/css/main-style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/"><img src="/public/assets/images/logo.png" /></a>
                </div>
                <div class="search">
                  <form action="/search" method="get">
                    <input type="text" placeholder="Search tags, topics, categories" name="searchTag">
                  </form>
                </div>
                <div class="dropdown" style="float:right;">
                  <img src="/public/assets/images/user.png" style="height:100%; width:100%" onclick="menu()" class="dropbtn">
                  <div id="dropcontent" class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/about">About</a>
                    <a href="/add/<%= profile.id %>">Create post</a>
                    <a href="/logout">Log out</a>
                  </div>
                </div>
            </div>

        
        <!-- Create Post -->
            <br><br><br>
            <div class="mainDiv">
            <form action="/save" method="post">
                <input type="hidden" value="<%= user._id %>" id="userId" name="userId">
                <input type="hidden" value="<%= user.username %>" id="username" name="username">
                <h1> Create a post </h1><br><br>

                <label>Title:</label><br>
                <input type="text" id="title" name="title" class="titleText" placeholder="Maximum of 40 characters" maxlength="40" required><br><br>   
                   
                <label>Post:</label><br>
                <textarea type="text" id="post" class="postText" placeholder="Maximum of 120 characters" name="postText" maxlength="120"></textarea><br><br>
                     
                <label>Tag:</label><br>
                <input type="text" id="tags" name="tag" class="tagText" placeholder="Maximum of 20 characters" maxlength="20" required><br><br>
    
                <label>Anonymous:</label>
                <input name="anonToggle" id="anonBox" type="checkbox" value="on" onclick="confirmation()" checked><span id="warning">WARNING: ANONYMOUS MODE TURNED OFF</span>
                <br><br>
                                        
                <input type="submit" value="Post" id="submitButton" class="submitButton">
            </form>
        </div>
        <script src="../public/js/script.js"></script>
    </body>
</html>