<!DOCTYPE html>
<html>
  <head>
    <title>AnonX - log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="all" href="/public/assets/style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div>
      <img
        src="/public/assets/images/logo2.png"
        width="13%"
        style="margin-left: 5%; margin-top: 3%; position: absolute"
      />
    </div>
    <div class="container">
      <% if (fail == "false") { %>
        <h1 class="header">Post Anonymously</h1>
      <%} else {%>
          <h1 class="header">Username / Password incorect</h1>
       <%} %>
      <div class="login-content">
        <form action="verifyLogin" method="post">
          <img src="/public/assets/images/anon-avatar.png" alt="avatar" />
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                type="text"
                class="input"
                placeholder="Username"
                name="username"
                required
              />
            </div>
          </div>
          <div class="input-div password">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                type="password"
                class="input"
                placeholder="Password"
                name="password"
                required
              />
            </div>
          </div>

          <a href="#">Forgot Password?</a>
          <input
            type="submit"
            id="login"
            class="btn"
            value="Login"
          />
          <hr />
          <a href="/register"><input
            type="button"
            id="login"
            class="btn-reg"
            value="Register"
          /></a>
          
        </form>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/a81368914x.js"></script>
  </body>
</html>
