<html>
    <head>
        <title> AnonX - edit post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <input type="text" placeholder="Search topics, tags, profile">
                </div>
                <div class="profile"> 
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                </div>
                <div class="header-logout">
                    <a href="/logout">Log out</a>
                </div>
            </div>

        
        <!-- Edit post -->
        <div>
            <p> Edit your comment </p>
            <form action="/updateComment" method="post">
                <input type="hidden" value="<%= comment.id %>" name="id">
                <input type="text" id="post"  name="postText" value="<%= comment.comment %>" placeholder="Text (optional)" maxlength="120"> <br>
                <a> Max 120 characters </a> <br>

                <!-- Add toggle swtich -->
                <% if (comment.anon == "true") { %>
                    <label>Anonymous: <input name="anonToggle" type="checkbox" value="on" checked></label>
                <%} else {%>
                    <label>Anonymous: <input name="anonToggle" type="checkbox" value="on" ></label>
                <%} %>
                <br>
                <input type="submit" value="Post">
            </form>
        </div>
    </body>
</html>