<html>
  <head>
    <title>AnonX - Post</title>
    <link rel="stylesheet" href="/public/assets/homeStyle.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/public/assets/images/favicon.ico" />
  </head>
  <body>
    <div class="header">
      <div class="header-logo">
        <a href="index.html"><img src="/public/assets/images/logo.png" /></a>
      </div>
      <div class="header-search">
        <input type="text" placeholder="Search" />
        <a href="search.html"><img src="/public/assets/images/search.png" /></a>
      </div>
      <div class="header-profile">
        <img src="/public/assets/images/profilePic.jpg" onclick="menu()" />
      </div>
    </div>
    <div class="header-menu">
      <table>
        <tr>
          <td onclick="window.location.href='profile.html'">Profile</td>
        </tr>
        <tr>
          <td onclick="window.location.href='createPost.html'">Create Post</td>
        </tr>
        <tr>
          <td onclick="window.location.href='login.html'">Log out</td>
        </tr>
      </table>
    </div>
    <div class="create-post">
      <form action="/updateComment" method="post">
        <input type="hidden" value="<%= comment.id %>" name="id">
        <input type="text" name="postText" id="postText" value="<%= comment.comment %>" />
        <p>Anonymous:</p>
        <% if (comment.anon == "true") { %>
            <input type="radio" name="anonToggle" id="on" value="true" checked/>
            <label for="on" class="anonLabel">On</label>
            <input type="radio" name="anonToggle" id="off" value="false" />
            <label for="off" class="anonLabel">Off</label>
        <%} else {%>
            <input type="radio" name="anonToggle" id="on" value="true"/>
            <label for="on" class="anonLabel">On</label>
            <input type="radio" name="anonToggle" id="off" value="false" checked/>
            <label for="off" class="anonLabel">Off</label>
          <%} %>
        <button type="submit">Update</button>
      </form>
    </div>
    <button class="button-home">
      <a href="/">Back to Home</a>
    </button>
    <script src="script.js"></script>
  </body>
</html>
