<html>
    <head>
        <title> AnonX - edit information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search" name="searchTag"/>
                      </form>
                </div>
                <div class="topnav-profile-logout">
                    <div class="profile">
                        <div class="profile"> 
                            <a href="/">Home</a>
                            <a href="/profile">Profile</a>
                        </div>
                    </div>
                    <div class="logout">
                        <a href="logout">Log out</a>
                    </div>
                </div>
            </div>

        
        <!-- Edit Information -->
        <div>
            <br><br><br>
            <form action="/updateProfile" method="post">
                <table border="1">
                    <tr>
                        <td colspan="2"><h2> Edit account information </h2></td>
                    </tr>
                    <tr>
                        <td><label>Username:</label></td>
                        <td><input type="text" id="username" name="username" value="<%= profile.username %>" maxlength="24" size="100%" required></td>
                    </tr>
                    <tr>
                        <td><label>Password:</label></td>
                        <td><input type="password" id="password" name="password" value="<%= profile.password %>" maxlength="24" size="100%" required></td>
                    </tr>
                    <tr>
                        <td><label>Bio:</label></td>
                        <td><input type="text" id="bio" name="bio" value="<%= profile.bio %>" size="100%" maxlength="120" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Save"></td>
                    </tr>
                </table>
            </form>
        </div>
        <script src="script.js"></script>
    </body>
</html>
