<html>
    <head>
        <title> AnonX - edit post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search for a tag" name="searchTag"/>
                      </form>
                </div>
                <div class="header-profile">
                    <div class="profile"> 
                        <a href="/">Home</a>
                        <a href="/profile">Profile</a>
                    </div>
                </div>
                <div class="header-logout">
                    <a href="/logout">Log out</a>
                </div>
            </div>

        <!-- Edit post -->
        <div class="containter-post">
            <div class="edit-header">
                <p> Edit your post </p>
            </div>
            <form action="/update" method="post">
                <input type="hidden" value="<%= posts.id %>" name="id">
                <div class="edit-input">
                    <div class="edit-title">
                        <input type="text" id="title" name="title" value="<%= posts.title %>" placeholder="Title" maxlength="40" size="100%" required> <br>
                        <div class="title-description">
                            <a>Max 1000 characters</a> <br>
                        </div>
                    </div>
                    <div class="edit-text">
                        <input type="text" id="post" name="post" value="<%= posts.post %>" placeholder="Text (optional)" maxlength="120" size="100%"> <br>
                        <div class="text-description">
                            <a> Max 10000 characters </a> <br> 
                        </div>
                    </div>
                    <div class="edit-tag">
                        <input type="text" id="tags" name="tags" value="<%= posts.tag %>" placeholder="#tags" maxlength="20" size="100%" required> <br>
                        <div class="tag-description">
                            <a>Do not enter #, and press enter to add new tag</a> <br>
                        </div>
                    </div>
                </div>
                
                <!-- Add toggle swtich -->
                <tr>
                    <td><label class="container-anon"> Anonymous:
                        <input type="checkbox">
                        <span class="checkmark"></span>
                       </label></td>
                    <td>
                        <% if (posts.anon == "true") { %>
                            <input name="anonToggle" type="checkbox" value="on" checked>
                        <%} else {%>
                            <input name="anonToggle" type="checkbox" value="on">
                        <%} %>
                    </td>
                </tr>
                <br>
                <div class="default-button">
                    <td colspan="2"><input type="submit" value="Post"></td>
                </div>
            </form>
        </div>
    </body>
</html>
