<html>
    <head>
        <title> AnonX - edit post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/">AnonX</a>
                </div>
                <div class="header-search">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search" name="searchTag"/>
                      </form>
                </div>
                <div class="profile"> 
                    <a href="/">Home</a>
                    <a href="/profile">Profile</a>
                </div>
                <div class="header-logout">
                    <a href="/logout">Log out</a>
                </div>
            </div>

        
        <!-- Edit post -->
        <div>
            <br><br><br>
            <form action="/updateComment" method="post">
                <input type="hidden" value="<%= comment.id %>" name="id">

                <table border="1">
                    <tr>
                        <td colspan="2"><h2> Edit comment </h2></td>
                    </tr>
                    <tr>
                        <td><label>Post:</label></td>
                        <td><input type="text" id="post"  name="postText" value="<%= comment.comment %>" placeholder="Text (optional)" maxlength="120"></td>
                    </tr>
                    <tr>
                        <td><label>Anonymous:</label></td>
                        <td>
                            <% if (comment.anon == "true") { %>
                                <input name="anonToggle" type="checkbox" value="on" checked>
                            <%} else {%>
                                <input name="anonToggle" type="checkbox" value="on">
                            <%} %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Post"></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>