<html>
    <head>
        <title> AnonX - edit post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/css/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/"><img src="/public/assets/images/logo.png" /></a>
                </div>
                <div class="search">
                  <form action="/search" method="get">
                    <input type="text" placeholder="Search tags, topics, categories" name="searchTag">
                  </form>
                </div>
                <div class="dropdown" style="float:right;">
                  <img src="/public/assets/images/user.png" style="height:100%; width:100%" onclick="menu()" class="dropbtn">
                  <div id="dropcontent" class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/about">About</a>
                    <a href="/add/<%= user.id %>">Create post</a>
                    <a href="/logout">Log out</a>
                  </div>
                </div>
            </div>

        
        <!-- Edit post -->
        <div class="mainDiv" style="margin-top: 50px;">
            <form action="/updateComment" method="post">
                <input type="hidden" value="<%= comment.id %>" name="id">

                <h2> Edit comment </h2> <br>
                <label>Comment:</label> <br>
                <textarea type="text" id="post" class="postText" name="postText" size="100%" placeholder="Comment" maxlength="120" required><%= comment.comment %></textarea> <br>
                   
                    <label>Anonymous:</label>
                
                    <% if (comment.anon == "true") { %>
                        <input name="anonToggle" type="checkbox" value="on" checked>
                    <%} else {%>
                        <input name="anonToggle" type="checkbox" value="on">
                    <%} %>
                        
                    <br> <br>
                    <input type="submit" value="Post" id="submitButton" class="submitButton">
                    <input type="button" value="Cancel" class="submitButton" onclick="window.location='/profile'"/>
            </form>
        </div>
    </body>
</html>