<html>
    <head>
        <title> AnonX - edit information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="all" href="/public/assets/css/main-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a81368914x.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Top Navigation Bar -->
            <div class="topnav">
                <div class="header-logo">
                    <a href="/"><img src="/public/assets/images/logo.png" /></a>
                </div>
                <div class="search">
                  <form action="/search" method="get">
                    <input type="text" placeholder="Search tags, topics, categories" name="searchTag">
                  </form>
                </div>
                <div class="dropdown" style="float:right;">
                  <img src="/public/assets/images/user.png" style="height:100%; width:100%" onclick="menu()" class="dropbtn">
                  <div id="dropcontent" class="dropdown-content">
                    <a href="/profile">Profile</a>
                    <a href="/about">About</a>
                    <a href="/add/<%= profile.id %>">Create post</a>
                    <a href="/logout">Log out</a>
                  </div>
                </div>
            </div>

        
        <!-- Edit Information -->
        <div class="mainDiv" style="margin-top: 50px;"> 
            <form action="/updateProfile" method="post">
                <div class="update">
                    <h1> <%= message %> </h1><br><br>
                    
                <label for="oldpassword"> Edit Password</label> <br>
                    <input type="password" id="password" name="oldPassword" class="titleText" maxlength="24" size="100%" placeholder="Old Password" required> <br>
                
                <label for="newpassword">New Password:</label><br>
                    <input type="password" id="password" name="newPassword" class="titleText" maxlength="24" size="100%" placeholder="New Password" required> <br>

                <label for="bio"> Edit Bio</label> <br>
                    <textarea type="text" id="bio" class="postText" name="bio" size="100%" placeholder="Biography (optional)" maxlength="120"><%= profile.bio %></textarea> <br>
                    <a style="font-size: 12px;flex: end;"> Max length 120 characters</a> <br>
            
                    <input type="submit" value="Save" id="submitButton" class="submitButton">
                    <input type="button" value="Cancel" class="submitButton" onclick="window.location='/profile'"/>
                </div>
            </form>
        </div>
        <script src="script.js"></script>
    </body>
</html>
