html,
body {
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  background-color: #303030;
  color: #f6f6f6;
  margin-bottom: 3%;
  position: relative;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

hr {
  border-color: #303030;
}

.username {
  color: #fccc71;
  font-weight: bold;
}

.username-comment {
  color: #ca9c46;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 75px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100px;
  text-align: center;
  background-color: #606060;
  height: 70px;
  width: 90%;
}

.header-logo {
  left: 25px;
  bottom: 2px;
  position: absolute;
  display: inline-block;
}

.header-logo img {
  height: 55px;
  width: 55px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-left: 5px;
}

.header-logo img:hover {
  height: 65px;
  width: 65px;
  cursor: pointer;
  filter: drop-shadow(-5px 10px 10px black);
  transition: 0.4s;
}

.header-search {
  top: 15px;
  left: 25%;
  position: absolute;
  display: inline-block;
}

.header-search input {
  height: 40px;
  width: 700px;
  border-radius: 100px;
  background-color: #303030;
  color: #f6f6f6;
  text-indent: 15px;
}

.header-search img {
  position: relative;
  top: 8px;
  left: 6px;
  height: 25px;
  width: 25px;
}

.header-search img:hover {
  opacity: 0.5;
}

.header-profile {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 45%;
}

.header-profile img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.header-profile img:hover {
  height: 51px;
  width: 51px;
  filter: drop-shadow(5px 10px 10px black);
  transition: 0.3s;
}

.header-menu {
  position: fixed;
  background-color: #606060;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  z-index: 4;
  top: 8%;
  margin-top: -2.6%;
  left: 82%;
  height: 320px;
  width: 200px;
  display: none;
}

.header-menu table {
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 25%;
}

.header-menu td {
  border: 1px solid black;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  width: 100%;
  margin-top: 50%;
}

.header-menu td:hover {
  background-color: #303030;
  transition: 0.7s;
}

.button-PostPage {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  top: 5%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #606060;
  color: #f6f6f6;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.button-PostPage:hover {
  background-color: #fccc71;
  transition: 0.3s;
}

.button-home {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  text-align: center;
  position: relative;
  text-decoration: none;
  font-size: 16px;
  top: 35%;
  left: 185px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #606060;
  color: #f6f6f6;
}

.button-home:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.create-post {
  border: 1px solid rgb(0, 0, 0);
  position: relative;
  text-align: center;
  top: 100px;
  left: 185px;
  background-color: #606060;
  width: 50%;
  height: 25%;
}

#postText {
  height: 77%;
  width: 100%;
}

#addTag {
  position: relative;
  top: 20%;
  left: 25%;
}

.create-post p {
  height: 15%;
  width: 15%;
  position: relative;
  display: inline-block;
  right: 35%;
  bottom: 8px;
}

.create-post input[type="radio"] {
  position: relative;
  top: 2px;
  cursor: pointer;
  left: -30%;
}

.anonLabel{
  position: relative;
  left: -30%;
}

.create-post button {
  border: none;
  border-radius: 10%;
  padding: 5px 10px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  left: 45%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #303030;
}

.create-post button:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.title{
  position: relative;
  margin-left: 65px;
}

.post-container {
  min-height: 20%;
  width: 80%;
  margin-top: 50px;
  top: 5%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  text-align: justify;
  background-color: #606060;
  overflow: hidden;
}

.post-container p {
  position: relative;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.post-container img {
  position: relative;
  left: 89%;
  margin-left: 15px;
  top: 20px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.post-container img:hover {
  opacity: 0.5;
}

.tag-container {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  font-style: italic;
  font-size: smaller;
  color: rgb(200, 199, 199);
}

.full-post-text {
  cursor: pointer;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  font-style: italic bold;
  font-size: smaller;
  text-decoration: underline;
  color: rgba(200, 199, 199, 0.599);
}

.full-post-text:hover {
  opacity: 0.5;
}

.comment-text {
 position: relative;
 left: 5%;
}

.comment-container {
  position: relative;
  width: 100%;
  background-color: #606060;
  display: inline-block;
}

.comment-container input[type="checkbox"]{
  position: relative;
  top: 6px;
  height: 20;
  width: 20;
}

.comment-box {
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #606060;
  display: inline-block;
}

.comment-container input[type="text"] {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
  height: 50px;
  width: 90%;
  bottom: 5px;
  left: 5%;
  border-radius: 10px;
  background-color: #303030;
  color: #f6f6f6;
  text-indent: 10px;
}

.scrollbutton {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  text-decoration: none;
  font-size: 16px;
  top: 85%;
  left: 92%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: #606060;
  color: #f6f6f6;
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.scrollbutton:hover {
  background-color: #fccc71;
  transition: 0.3s;
}

.register-header {
  font-size: xx-large;
  padding: 0 2rem;
  align-items: center;
  margin-top: 7%;
}

a:link,
a {
  text-decoration: none;
  color: white;
}

/* About */
.container-about{
  padding: 80px;
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
}

.About-title{
  margin-top: 20px;
}

.About-desc{
  display: flex;
  justify-content: space-between;
}

.About-desc-below{
  margin-top: 20px auto;
}

.About-types{
  margin-top: 10px;
}